@model AirportCarpool.Models.NewTrip

@{
    ViewBag.Title = "New trip - driver options";
}


@using (Html.BeginForm("NewTrip", "Trip", FormMethod.Post)) {
    @Html.AntiForgeryToken()

    <input type="hidden" name="View" value="NewTrip04" />
    @Html.HiddenFor(model => model.LocationFrom);
    @Html.HiddenFor(model => model.LocationTo);
    @Html.HiddenFor(model => model.MovementDateType);
    @Html.HiddenFor(model => model.MovementDate);
    @Html.HiddenFor(model => model.MovementTime);
    @Html.HiddenFor(model => model.FlightNumber);
    @Html.HiddenFor(model => model.Departure);
    @Html.HiddenFor(model => model.Arrival);
    @Html.HiddenFor(model => model.ArrDep);
    @Html.HiddenFor(model => model.Driver);
    @Html.HiddenFor(model => model.Passenger);
    @Html.HiddenFor(model => model.Seats);
    @Html.HiddenFor(model => model.Luggage);
    
    <div class="form-horizontal">
        <h3>Driver options</h3>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MaxSeats, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxSeats)
                @Html.ValidationMessageFor(model => model.MaxSeats)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxLuggage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxLuggage)
                @Html.ValidationMessageFor(model => model.MaxLuggage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxKm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxKm)
                @Html.ValidationMessageFor(model => model.MaxKm)
            </div>
        </div>

        <p>
            <input type="submit" value="Submit" />           
        </p>
    </div>
}