@model IEnumerable<AirportCarpool.Models.SchipholFlight>

@{
    ViewBag.Title = "TestSchipholFlights";
}

<h2>TestSchipholFlights</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

  <div>
    <h2>All Flights</h2>
    <ul id="products" />
  </div>
  <div>
    <h2>Search by Flightnumber</h2>
    <input type="text" id="FlightNumber" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="SchipholFlight" />
  </div>

  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
  <script>
      var uri = 'http://145.35.195.100/rest/flights';

    $(document).ready(function () {
      // Send an AJAX request
      $.getJSON(uri)
          .done(function (data) {
            // On success, 'data' contains a list of products.
            $.each(data, function (key, item) {
              // Add a list item for the product.
                $('<li>', { text: formatItem(item) }).appendTo($('#SchipholFlight'));
            });
          });
    });

    function formatItem(item) {
        return item.FlightNumber + ': Scheduledate' + item.ScheduleDate + " - Arrivaldata" + item.ScheduleTime;
    }

    function find() {
        var id = $('#FlightNumber').val();
      $.getJSON(uri + '/' + id)
          .done(function (data) {
              $('#SchipholFlight').text(formatItem(data));
          })
          .fail(function (jqXHR, textStatus, err) {
              $('#SchipholFlight').text('Error: ' + err);
          });
    }
  </script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrDep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrefixIATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRefixICAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suffix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FlightId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrDep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrefixIATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRefixICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suffix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
