@model AirportCarpool.Models.Location

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.LocationId)

        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">Details</li>


            <li data-role="fieldcontain">
                @Html.LabelFor(l => l.Street, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(l => l.Street)
                @Html.TextBoxFor(l => l.Street)
            </li>
            <li data-role="fieldcontain">
                @Html.LabelFor(l => l.StreetNr, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(l => l.StreetNr)
                @Html.TextBoxFor(l => l.StreetNr)
            </li>
            <li data-role="fieldcontain">
                @Html.LabelFor(l => l.PostalCode, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(l => l.PostalCode)
                @Html.TextBoxFor(l => l.PostalCode)
            </li>       
            <li data-role="fieldcontain">
                @Html.LabelFor(l => l.City, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(l => l.City)
                @Html.TextBoxFor(l => l.City)
            </li>
            <li data-role="fieldcontain">
                @Html.LabelFor(l => l.Country, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(l => l.Country)
                @Html.TextBoxFor(l => l.Country)
            </li>
        </ul>

    </div>

