@model AirportCarpool.Models.User

@{
    ViewBag.Title = "Profile";
}

<div class="UserProfile">
    
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Details</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.UserName, "Username")
            @Html.TextBoxFor(m => m.UserName)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.SurName, "Surname")
            @Html.TextBoxFor(m => m.SurName)            
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)            
        </li>
    </ul>
    <p>@Html.ActionLink("Address", "Location", "Account", null, new { @data_role = "button" })</p>
    <p>@Html.ActionLink("Change password", "ChangePassword", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear" })</p>
    <ul data-role="listview" data-inset="true">
        <li data-role="fieldcontain">
            <input type="submit" value="Save" />
        </li>
    </ul>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}