
@if (Request.IsAuthenticated)
{
 @Html.ActionLink(User.Identity.Name, "Index", "User", new { id = @User.Identity.Name }, htmlAttributes: new { data_icon = "gear" })
}
else
{
 @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear" })
}

@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { data_icon = "home", data_role = "button" })

@*<div style="width: 29%; min-width: 170px; position: absolute; right: 5px; top: 0; text-align: right;">
    <a href="javascript:history.back()" data-icon="arrow-l" data-role="button" style="margin: 3px 0; top: 0;">Back</a>
    @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { data_icon = "home", data_role = "button", style = "margin: 3px 0; top: 0;" })
</div>
*@
